<template lang="pug">
  v-form.form(v-model='valid', ref="form")
    v-text-field(v-model='name', :rules='nameRules', :counter='10', placeholder='Enter title here', required='')
    vue-editor(v-model='content')
    v-btn(:disabled='!valid', @click='submit')
      | submit
    v-btn(@click='clear') clear
</template>

<style src='./FCreateArticle.scss'></style>
<script src='./FCreateArticle.js'></script>
