<template lang="pug">
  v-layout(row wraps)
    v-flex(xs12)
      h3 Add new article
      FCreateArticle
</template>

<script>
import FCreateArticle from '@/components/Forms/CreateArticle/FCreateArticle.vue'

export default {
  name: 'CreateArticle',
  components: {
    FCreateArticle
  }
}
</script>
