<template lang="pug">
  v-layout(row wraps)
    v-flex(xs6)
      .todo
        .todo__head
          input.todo__ip(type="text", v-model="itemModel", placeholder="Enter your note here...", @keyup.enter="addItem")
          a.todo__btn.todo__btn--add(href="javascript:;", @click="addItem") Add Note
        .todo__content
          .todo__list(v-for="item in items")
            DemoTodoAppItm(:item="item", v-on:delItm="delItem", v-on:editItm="editItem")
</template>

<style lang="scss">
.todo {
  &__head {
    margin: 0 0 10px;
  }
  &__btn {
    display: inline-block;
    padding: 6px 12px;
    text-align: center;
    font-size: 20px;
    background: #343434;
    border-radius: 4px;
    margin: 0 5px 0 0;
    text-decoration: none;
    color: white;
    transition: background-color .3s ease-in-out;
    &--add {
      margin: 0 0 0 15px;
    }
    &:hover {
      background: lighten($color: #343434, $amount: 20%);
    }
  }
  &__itm {
    display: flex;
    justify-content: space-between;
    margin: 0 0 10px;
  }
  &__ttl {
    flex: 2;
  }
  &__ip {
    border: 1px solid #42A5F5;
    border-radius: 4px;
    padding: 5px 10px;
    font-size: 16px;
    color: black;
    display: inline-block;
    width: 300px;
  }
  &__btn-gr {
    margin: 0 0 0 15px;
  }
}
</style>

<script>
import DemoTodoAppItm from './DemoTodoAppItm'

export default {
  name: "DemoTodoApp",
  components: {
    DemoTodoAppItm
  },
  data () {
    return {
      itemModel: "",
      items: [
        {
          id: 0,
          title: 'Note 1'
        },
        {
          id: 1,
          title: 'Note 2'
        },
        {
          id: 2,
          title: 'Note 3'
        }
      ]
    }
  },
  methods: {
    addItem: function() {
      this.items.push({ id: this.items.length, title: this.itemModel })
    },
    delItem: function(id) {
      this.items = this.items.filter((itm, index) => {
        return itm.id !== id
      })
    },
    editItem: function(id, newValue) {
      this.items.splice(this.items.findIndex(itm => itm.id === id), 1, { id: id, title: newValue })
    }
  }
}
</script>

