<template lang="pug">
  .todo__itm
    h3.todo__ttl(v-if="viewMode") {{ item.title }}
    input.todo__ip(type="text", placeholder="Enter your note here...", v-model="itmVal", v-else)
    .todo__btn-gr
      a.todo__btn(href="javascript:;", @click="changeMode", v-if="viewMode") Edit
      a.todo__btn(href="javascript:;", @click="changeMode(); emitEditEvent()", v-else) Save
      a.todo__btn(href="javascript:;", @click="emitDelEvent") Delete
</template>

<style lang="scss" scoped>

</style>

<script>
export default {
  name: "DemoTodoAppItm",
  props: [ 'item' ],
  data () {
    return {
      itmVal: this.item.title,
      viewMode: true
    }
  },
  methods: {
    changeMode: function() {
      this.viewMode = !this.viewMode
    },
    emitDelEvent: function() {
      this.$emit('delItm', this.item.id)
    },
    emitEditEvent: function() {
      this.$emit('editItm', this.item.id, this.itmVal)
    }
  }
}
</script>

