<template lang="pug">

</template>

<script>
import FEditArticle from '@/components/Forms/EditArticle/FEditArticle.vue'

export default {
  name: 'FEditArticle',
  components: {
    FEditArticle
  }
}
</script>
