<template lang="pug">
  v-layout
    v-flex(xs12)
      v-btn(fab='', dark='', small='', color='red', @click='$router.push("/create-article")')
        v-icon(dark='') add
      ListArticles
</template>

<style lang="scss" scoped>
.v-btn {
  margin: 0 0 15px;
}
</style>

<script>
// @ is an alias to /src
import ListArticles from '@/components/Tables/ListArticles/ListArticles.vue'

export default {
  name: 'Home',
  components: {
    ListArticles
  }
}
</script>
