<template lang="pug">
  v-data-table.elevation-1(:headers='headers', :items='articles', hide-actions='')
    template(slot='items', slot-scope='props')
      td {{ props.item.name }}
      td
</template>

<style src='./ListArticle.scss' scoped lang="scss">
</style>

<script src='./ListArticle.js'>
</script>
