<template lang='pug'>
  v-app#inspire
    v-navigation-drawer(v-model='drawer', fixed='', app='')
      v-list(dense='')
        v-list-tile(@click='$router.push("/")')
          v-list-tile-action
            v-icon home
          v-list-tile-content
            v-list-tile-title Home
        v-list-tile(@click='$router.push("/about")')
          v-list-tile-action
            v-icon face
          v-list-tile-content
            v-list-tile-title About
        v-list-tile(@click='$router.push("/todo")')
          v-list-tile-action
            v-icon list_alt
          v-list-tile-content
            v-list-tile-title Todo App
    //- end: navigation
    v-toolbar(color='indigo', dark='', fixed='', app='')
      v-toolbar-side-icon(@click.stop='drawer = !drawer')
      v-toolbar-title VueCMS
    //- end: toolbar
    v-content
      v-container(fluid='', fill-height='')
        router-view
    //- end: content
    v-footer(color='indigo', app='')
      span.white--text © 2018
    //- end: footer
</template>

<style lang="scss">
</style>

<script>
export default {
  data: () => ({
    drawer: null,
    props: {
      source: String
    }
  })
}
</script>
